<h2>The books test</h2>

{% for book in page.books %}
    {% assign target_book = book %}

    <p> Book in course : {{ target_book }} </p>
    
    
    {% for book_in_databace in site.data.books %}

        {% assign book_in_db = book_in_databace %}

        <p> BOOK name in data base: {{ book_in_db }}</p>

        {% comment %}
            {% if target_book == book_in_databace.code %}

                {{ book_in_databace.ISBN }}

            {% endif %}
        {% endcomment %}
    {% endfor %}
       
{% endfor %}